*{
    padding: 0;
    margin: 0;
}
html,body{
    width:100%;
    height: 100%;
    font-size: 14px;
}
.contenidor{
    width:100%;
    height:100%;
    background-image:url(../imatges/bird-s-eye-view-clouds-countryside-1625181.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow-y: auto;
}
.menu{
    padding:0;
    width:350px;
    height:auto;
    position: absolute;
    top:20%;
}
.menu a{
    text-decoration: none;
    font-size: 28px;
    font-family:cursive;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    float:left;
    display: inline-block;
    background-color: black;
    color:white;
    line-height: 90px;
    text-align: center;
    transition: 300ms;
}
.menu a:hover{
    background-color: white;
    color:black;
    width:100%;
}
.home1{
    width:100%;
}
.about{
    width:100%;
}
.projects{
    width:100%;
}
.contact{
    width:100%;
}
.contingut{
    position: absolute;
    width:430px;
    min-height: 500px;
    height: 500px;
    right: 0;
    top:35%;
}
.carlos{
    position: absolute;
    right: 0;
    bottom: -80px;
    width: 730px;
    color: white;
    font-family: verdana;
}
.carlos h1{
    font-size: 70px;
    padding-right:100px;
}
.carlos h3{
    font-size:28px;
    padding:5px 0;
    opacity:0.8;
}
.principal{
    position: absolute;
    height: 610px;
    width: 500px;
    left:40%;
    top: 15%;
    background-color: white;
    opacity: 0.6;
}
.titol{
    font-size: 35px;
    font-family: 'Anton', sans-serif;
    text-align: center;
}
.practica1{
    font-family: 'Anton', sans-serif;
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 20px;
    text-align:center;
}
.practica2{
    font-family: 'Anton', sans-serif;
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 20px;
    text-align:center;
}
.practica3{
    font-family: 'Anton', sans-serif;
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 20px;
    text-align:center;
}
.practica4{
    font-family: 'Anton',sans-serif;
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 20px;
    text-align:center;
}
.practica5{
    font-family: 'Anton', sans-serif;
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 20px;
    text-align:center;
}
.practica6{
    font-family: 'Anton', sans-serif;
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 20px;
    text-align:center;
}
.practica7{
    font-family: 'Anton', sans-serif;
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 20px;
    text-align:center;
}
.practica7-1{
    font-family: 'Anton', sans-serif;
    font-family: 'Playfair Display', serif;
    color: black;
    font-size: 20px;
    text-align:center;
}
.a1{
    text-decoration: none;
    color: white;
    background-color: #5D6D7E;
    padding: 10px;
    border-radius: 30px;
}
.a1:hover{
    color:black;
    font-weight: bold;
    cursor: pointer;
}
.about1{
    position: relative;
    width: 60%;
    height: 60%;
    left:30%;
    top: 10%;
    background-color: white;
    opacity: 0.8;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;

}
.imatge{
    width:25%;
    background-image: url(/imatges/Captura.PNG);
    background-repeat: no-repeat;
    background-position: center;
    font-size: 2em;
}
.text{
    width:75%;
    background-color: white;
}
.subtext{
    padding: 15px;
    margin-left: 5px;
}
.sobremi{
    padding: 15px;
    margin-left: 10px;
}
.info{
    font-size: 20px;
}
* {box-sizing: border-box}

.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding: 10px;
  color: white;
}
.html {width: 90%; background-color: #4CAF50;}
.css {width: 80%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}











