*{
    padding: 0;
    margin: 0;
}
#capçelera{
    margin: auto;
    width:500px;
}
ul{
    list-style: none;
}
.principal li a{
    background-color:black;
    text-decoration: none;
    color:white;
    padding: 10px 15px;
    display:block;
}
.principal li a:hover{
    background-color: grey;
}
.principal > li{
    float:left;
}
.principal li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}
.principal li:hover > ul{
    display:block;
}
.principal li ul li{
    position: relative;
}
.principal li ul li ul{
    left:140px;
    top: 0px;

}
.tornar{
    height: 40px;
    top:0px;
    right:0px;
    width: 60px;
    position: fixed;
    padding:10px 10px 5px 5px;
}
.boto{
    color: white;
    text-decoration: none;
    font-family: 'Fredoka One', cursive;
}
